$body-color: black;

body {
  color: $body-color;
  font-family: sans-serif;
}

dfn {
  color: blue;
}

kbd {
  background: #cccccc;
}

blockquote {
  color: blue;
}

table {
  border-collapse: collapse;
}

table,
tr,
td,
th {
  border: 1px solid black;
}

// thead {
//   color: green;
//   text-align: left;
// }

// tbody {
//   color: blue;
// }

// tfoot {
//   color: purple;
// }
