* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

main {
  float: left;
  padding: 5px 10px;
  width: 70%;
  border-right: 1px dotted blue;
}

aside {
  float: right;
  width: 25%;
}

footer {
  clear: both;
}

table {
  border-collapse: collapse;
  font-size: 12px;
}

table,
tr,
td,
th {
  border: 1px solid black;
}

thead,
tfoot {
  background-color: #e2e8c0;
}

header,
footer {
  background-color: #423440;
}

header h1 {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  margin: 0;
}

header nav {
  text-align: center;
  padding-bottom: 10px;
  font-size: 80%;
}

header nav a,
footer nav a {
  color: #ffffff;
}

footer nav {
  text-align: center;
  padding: 20px;
  font-size: 80%;
}

h2 {
  font-size: 18px;
  color: #786353;
}

.heading-2 {
  color: #b38c6f;
  font-size: 16px;
}

h3 {
  color: #d3cbc3;
  font-size: 14px;
}

a {
  color: #edd9a3;
}

p,
aside li {
  font-size: 12px;
}

.img-max-width {
  max-width: 100px;
}

figure {
  margin: 10px;
}

figcaption {
  font-size: 10px;
}

.text-align-center {
  text-align: center;
}
